@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* color: #000000; */
    line-height: 25px;
    font-size: 14px !important;
    /* background: url('./assets/imigongo.png') no-repeat; */
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

/* body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #241e20;
}

body::-webkit-scrollbar-thumb {
  background: #f15921;
  border-radius: 5px;
} */

::selection {
  background: #154b07 !important;
  color: #ffffff !important;
}

a, a:hover, a:active, a:focus {
  text-decoration-color: none !important;
  text-decoration: none !important;
  outline: none;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
